Utility/ExtentReports/**
Utility/Screenshots/**
Utility/logs/**
target/surefire-reports/**
target/**
test-output/**
*.class
*.jar
*.war
*.ear
*.log
*/*/*.dumpstream
*.iml
.idea/
.eclipse
/target/
Utility/**
target/surefire-reports/Suite/*.html
target/surefire-reports/Suite/*.xml
